# Ignore Eclipse project files
**/.classpath
**/.project
**/.settings

# Ignore Docker and environment files
**/.dockerignore
**/.env
**/secrets.dev.yaml
**/values.dev.yaml
**/Dockerfile*
**/docker-compose*
**/compose*

# Ignore Git files
**/.git
**/.gitignore

# Ignore Visual Studio files
**/.vs
**/.vscode
**/*.dbmdl
**/*.jfm
**/*.*proj.user

# Ignore build directories
**/bin
**/obj

# Ignore Node.js dependencies and logs
**/node_modules
**/npm-debug.log

# Ignore other files
**/charts
LICENSE
README.md
